{#
/**
 * Block Name: Banniere Simple blo
 */
#}

<div class="banner">
  <div>
    <h1>{{ fields.titre }}</h1>
    <p>{{ fields.contenu }}</p>
  </div>

  <div>
    <img src="{{ fields.image.url }}" alt="{{ fields.image.url }}">
  </div>
</div>